<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:400,700|Noto+Sans+JP&display=swap">
    <title>RSS</title> 
</head>
<body>
    <div class="wrap">
        <header class="flex">
            <img class="logo" src="images/logo.png" width="50" height="50" alt="RSSのロゴ">
            <h1>Road Study Scheduler</h1>
            <label class="header-menu-btn" for="header-menu-btn-check">
                <div class="profile-button flex">
                    <img class="user-icon" src="images/アートボード 16 のコピー 8.png" alt="userIcon">
                    <p class="user-name">Yamada Taro</p>
                </div>
            </label>
            <input type="checkbox" id="header-menu-btn-check">
            <nav class="header-menu">
                <ul>
                    <li>
                        <a>ユーザー編集・削除</a>
                    </li>
                    <li>
                        <a>ユーザー一覧</a>
                    </li>
                    <li>
                        <a>学習時間登録</a>
                    </li>
                    <li>
                        <a>学習時間登録編集・削除</a>
                    </li>
                    <li>
                        <a>ログアウト</a>
                    </li>
                </ul>
            </nav>
         </header>

        <main>
            <div class="wrap-local">
                <section>
                    <h2>
                        <p>学習時間の登録が完了しました。</p>
                    </h2>
                </section>
            </div>
        </main>
        <footer>
            <p class="copyright">
                <small>&copy; HOGEHOGE All Rights Reserved</small>
            </p>
        </footer>
    </div>
    
</body>
</html>