<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/StudyRegister.css">
    <title>RSS</title> 
</head>
<body>
    <div class="wrap">
        <header class="flex">
            <img class="logo" src="static/img/logo.png" width="50" height="50" alt="RSS">
            <h1>Road Study Scheduler</h1>
            <label class="header-menu-btn" for="header-menu-btn-check">
                <div class="profile-button flex">
                    <img class="user-icon" src="img/user.png" alt="userIcon">
                    <p class="user-name">Yamada Taro</p>
                </div>
            </label>
            <input type="checkbox" id="header-menu-btn-check">
            <nav class="header-menu">
                <ul>
                    <li>
                        <a th:text='ユーザー編集・削除'></a>
                    </li>
                    <li>
                        <a th:text='ユーザー一覧'></a>
                    </li>
                    <li>
                        <a th:text='学習時間登録'></a>
                    </li>
                    <li>
                        <a th:text='学習時間登録編集・削除'></a>
                    </li>
                    <li>
                        <a th:text='ログアウト'></a>
                    </li>
                </ul>
            </nav>
         </header>

        <main>
            <div class="wrap-local">
                <section>
                    <form th:action="@{studyInput/register}" method="post" th:object="${studyInput}">
                        <h2 th:text='学習時間登録'></h2>
                    
                            <div class="form-group">
                                <label for="userId">userID</label>
                                <input type="text" id="userId" name="userId" th:value="${userId}">
                            </div>
                    
                            <div class="form-group">
                                <label for="date">日付</label>
                                <input type="date" id="date" name="date" placeholder="yyyy/MM/dd" th:value="${studyDate}">
                            </div>
                    
                            <div class="form-group">
                                <label for="targetTime">目標時間</label>
                                <input type="text" id="time" name="time" placeholder="00:00" th:value="${targetTime}">
                            </div>
                    
                            <div class="form-group">
                                <label for="studyTime">学習時間</label>
                                <input type="text" id="time2" name="time2" placeholder="00:00" th:value="${studyTime}">
                            </div>

                            <div class="form-group">
                                <label for="remarks">備考</label>
                                <input type="text" id="remarks" name="remarks" th:value="${remarks}">
                            </div>

                            <div class="button-group">
                                <input type="button" value="戻る" style="margin-right: 100px;">
                                <input type="submit" value="登録">
                            </div>
                    </form>
                </section>
            </div>
        </main>

        <footer>
            <p class="copyright">
                <small>&copy; HOGEHOGE All Rights Reserved</small>
            </p>
        </footer>
    </div>
    
</body>
</html>