@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

img {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: baseline;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  width: 100%;
  position: relative;
}

.wrap-local {
  margin: 0 auto;
  padding: 60px 20px;
  max-width: 1300px;
  width: 90%;
}

h1 {
  font-size: 2rem;
  color: #fffefe;
}

h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #000000;
    line-height: 80px;
    border: #000000 solid 2px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

body{
    margin: 0;
    padding: 0;
}

/*headerの記述開始*/
header {
  padding: 0 20px;
  height: 80px;
  background-color: #075577;
  justify-content: left;
}
header .logo {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
header .header-menu-btn {
  margin-left: auto;
}
header .header-menu-btn .profile-button {
  padding-bottom: 2px;
  border-bottom: 1px solid #ffffff;
}
header .header-menu-btn .profile-button .user-icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
header .header-menu-btn .profile-button .user-name {
  color: #ffffff;
  font-size: 2rem;
}
header #header-menu-btn-check {
  display: none;
}
header #header-menu-btn-check:checked ~ .header-menu {
  display: block;
}
header .header-menu {
  display: none;
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 100;
  width: 240px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #ffffff;
}
header .header-menu ul {
  padding: 20px;
}

li{
    list-style: none;
}

header .header-menu ul li a {
  display: block;
  width: 100%;
  line-height: 2;
  text-align: center;
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 1px solid #1f1f1f;
  position: relative;
}
header .header-menu ul li:last-child {
  text-align: center;
}
header .header-menu ul li:last-child a {
  display: inline-block;
  margin: 20px 10px 0;
  padding: 5px 20px;
  width: fit-content;
  color: #ffffff;
  border-bottom: 0px solid #1f1f1f;
  border-radius: 4px;
  background-color: #b0b0b0;
}
/*headerの記述終了*/

/*mainの記述開始*/
main {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  margin-top: 180px;
}

.base2{
    background-color: #fea72a;
}

.switch{
    margin-top: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

.switch1{
    color: #000000;
    background-color: #ffffff;
    border: #000000 solid 2px;
    border-radius: 50px;
    padding: 10px 40px 10px 40px;
    margin-top: 10px;
    font-size: 1.1em;
    margin-right: 20px;
}

.switch2{
    color: #000000;
    background-color: #ffffff;
    border: #000000 solid 2px;
    border-radius: 50px;
    padding: 10px 40px 10px 40px;
    margin-top: 10px;
    font-size: 1.1em;
    margin-left: 20px;
}
/*mainの記述終了*/ 

/*footerの記述開始*/
footer {
    height: 80px;
    background-color: #1f1f1f;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer .copyright {
  text-align: center;
  margin-top: 25px;
}
footer small {
  color: #ffffff;
  font-size: 1.1rem;
}

/*footerの記述終了*/
/* 
@media(hover: hover){
}
@media screen and (max-width: px) {
} 
*//*# sourceMappingURL=style.css.map */
